<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.townwang.netty" >


    <receiver android:name="com.sample.test.MyBroadcastReciever"
        tools:ignore="WrongManifestParent">
        <intent-filter>

            <action android:name="com.sample.test.ACTION_DO_SOMETHING" />
            <action android:name="android.intent.ACTION_WIFI_STATE_CHANGED" />

        </intent-filter>
    </receiver>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
